<style>
  h1 {
    color: white;
    background: #006;
    padding: 6px;
    text-align: center;
  }
  .price {
    color: green;
    border: solid 3px green;
    padding: 4px;
  }
  img {
    float: left;
    margin-right: 40px;
    box-shadow: 8px 8px 4px gray;
    height: "200px";
  }
  p {
    margin-top: 24px;
    margin-bottom: 24px;
  }
</style>

<h1>Airplanes </h1>
<h2>
  <% if session[:user_id] %>
    <small>
      <a class="btn btn-success pull-right" href="/airplanes/new">
        Add a New Airplane</a>
    </small>
  <% else %>
    <p>Sign In to Add Airplanes</p>
  <% end %>
</h2>

<!-- <h2><%= cookies.signed["fruit"] %></h2> -->

<% if session["history_airplane"] %>
  <p><small><%= link_to "Clear My Viewing History", "/logout" %></small></p>
  <div class="recent clearfix">
    <h4>My Recently Viewed Airplanes</h4>
    <% recent_airplanes = Airplane.find(session["history_airplane"]) %>
    <% recent_airplanes.each do |airplane| %>
      <%= link_to image_tag(airplane.picture_url, height: '50px'), airplane %>
    <% end %>
  </div>
<% end %>

<p><%= @airplanes.count %> airplanes shown.</p>
<%= paginate @airplanes %>

<table class='table table-striped'>
  <thead>
    <tr>
      <th width="30%">Name</th>
      <th width="30%">Produced By</th>
      <th>Year</th>
      <th></th>
      <th></th>
    </tr>
  <tbody>
    <% @airplanes.each do |airplane| %>
      <tr>
        <td>
          <%= link_to airplane.name, "/airplanes/#{airplane.id}" %>
        </td>
        <td>
          <% if airplane.manufacturer_id != nil %>
            <%= link_to Manufacturer.find_by(:id => airplane.manufacturer_id).name, "/manufacturers/#{airplane.manufacturer_id}" %>
          <% end %> 
        </td>
        <td><%= airplane.first_flight %></td>

        <td><%= link_to "Delete", "/airplanes/#{airplane.id}", :method => "delete" %></td>
        <td><%= link_to "Edit", "/airplanes/#{airplane.id}/edit" %></td>
      </tr>
    <% end %>
  </tbody>
</table>


